.container
{
display: grid;
grid-template-columns: auto auto auto;
background-color: aqua;
padding: 10px;
gap: 15px;
}

.grid {
    text-align: right;
    background-color: blanchedalmond;
    padding: 30px;
    gap: 20px;
    row-gap: 10px;
    column-gap: 15 px;
    
}